{% extends 'base.html.twig' %}

{% block title %}Create advertisement{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center form-title">Create new advertisement</h1>
            <div class="wall">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description) }}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}