{% extends 'base.html.twig' %}

{% block title %}List advertisements{% endblock %}

{% block body %}
    {% if advertisements is empty %}
        <div class="alert alert-warning">No advertisements are published yet</div>
    {% endif %}

    {% for advertisement in advertisements %}
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h4>{{ advertisement.title }}</h4>
                <div>{{ advertisement.user.username }}</div>
                <small>{{ advertisement.created_at }}</small>
                <hr />
                <p>{{ advertisement.description }}</p>
                <hr />
                <br />
            </div>
        </div>
    {% endfor %}

    {{ knp_pagination_render(advertisements) }}

{% endblock %}