{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h1 class="text-center form-title">Sign in to continue</h1>
            <div class="wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="userform" action="{{ path('login') }}" method="post">
                    {% if error %}
                        <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="_password" required>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <a href="{{ path('register') }}" class="text-center new-account">Create an account </a>
        </div>
    </div>
{% endblock %}