{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h1 class="text-center form-title">Register</h1>
            <div class="wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                {{ form_end(form) }}
            </div>
            <a href="{{ path('login') }}" class="text-center existing-account">Login with existing account </a>
        </div>
    </div>
{% endblock %}